
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(84, 11, 84);
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(84, 11, 84);
  color: white;
  overflow: hidden;
}

.title {
  font-weight: 700;
}

.slider {
  width: 100%;
}

.lables {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tenureContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tenure {
  width: 15%;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: rgb(226, 226, 226);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.tenure:hover {
  background-color: rgb(200, 200, 200);
}

.selected {
  background-color: rgb(93, 93, 230);
  color: white;
}
.footer{
  border: 1px solid red;
  margin: 40px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: rgb(232, 97, 232);
}
